$color-primary-dark: #010b53fc;

$color-secondary: #49525f;
$color-secondarylight: #adb5c1;

$color-gray: #bac1cb;
$color-graydark: #49525f;
$color-graylight: #ebeef1;

$color-success: #4bb08e;
$color-black: #000;
$color-white: #fff;

$themes: (
	'dark': (
        base: #232323,
        primary: #081993fc,
	),
	'light': (
        base: white,
        primary: #525677fc,
	),
);

@each $theme-name, $colors in $themes {
	[data-theme='#{$theme-name}'] {
		@each $name, $color in $colors {
			--#{$name}: #{$color};
		}
	}
}

$color-base: var(--base);
$color-primary: var(--primary);
